html {
	background-image: linear-gradient(
		to right,
		rgba(249, 249, 249, 0.817),
		rgb(0, 166, 255)
	);
}

h1,
h3 {
	text-align: center;
}

.form-Parent {
	text-align: center;
	padding: 1rem;
}

.form-content {
	padding: 0.5rem;
}

label {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 1.2rem;
}

input {
	font-size: 1.2rem;
	border-radius: 0.3rem;
	border: 0.1em solid #000000;
}

.asterix {
	color: red;
	font-size: 1.3rem;
}

#error-Message {
	color: red;
	font-weight: bold;
	font-size: 1.3rem;
}

#buttonsOnForm {
	padding: 1em;
}

button {
	display: inline-block;
	padding: 0.5em 1em;
	border: 0.2em solid #000000;
	border-radius: 0.3rem;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	text-align: center;
	transition: all 0.5s;
}

#requiredtag {
	font-size: 1.5rem;
}

@media only screen and (max-width: 480px) {
	#buttonsOnForm {
		display: flex;
		flex-direction: column;
	}

	#calculate {
		margin-bottom: 1em;
	}
}
